<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Natural Disasters Visualization</title>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>

    <!-- Leaflet CSS & JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <script src="static/js/leaflet-timeline-slider.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- ChartJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</head>
<body>
    <h1 class="display-4">Natural Disasters Visualizer</h1>

    <!-- map div -->
    <div id="map"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg" id="canvas-holder">
                <canvas id="doughnut"></canvas>
            </div>

            <div class="col-lg" id="canvas-holder">
                <canvas id="line-chart"></canvas>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg" id="canvas-holder">
                <canvas id="tornado-dmg"></canvas>
            </div>

            <div class="col-lg" id="canvas-holder">
                <canvas id="flood-dmg"></canvas>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg" id="canvas-holder">
                <canvas id="earthquake-dmg"></canvas>
            </div>

            <div class="col-lg" id="canvas-holder">
                <canvas id="earthquake-dstr"></canvas>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer pt-4">
        <div class="container-fluid">
            <center>
                <h2 class="text-muted">
                    Data sourced from NOAA 
                    <img src="https://www.noaa.gov/sites/all/themes/custom/noaa/images/noaa_logo_circle_bw_72x72.svg"
                        alt="noaa-logo">
                </h2>
            </center>
        </div>
    </footer>
    <!-- Footer -->

    <!-- API Key -->
    <script type="text/javascript" src="static/js/config.js"></script>

    <!-- Leaflet Javascript -->
    <script type="text/javascript" src="static/js/logic.js"></script>

</body>
</html>